# 🐍 Python
*.pyc
__pycache__/

# 🧪 Виртуальное окружение
venv/

# 📦 Django
db.sqlite3
*.log

# 🖼️ Медиафайлы
media/
static/

# 📁 Миграции (опционально)
**/migrations/*.py
!**/migrations/__init__.py

# ⚙️ Настройки среды
.env

# 🧠 PyCharm / VS Code
.idea/
.vscode/

# 🧹 Системные файлы
.DS_Store
Thumbs.db
